*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #fed;
  color: #1a1a1a;
}

.navbar{
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar .logo{
   font-size: 1.5rem;
   font-weight: bold;
   color: #FFD700;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a{
   text-decoration: none;
   color: #F2F2F2;
}

.banner{
     position: relative;
     height: 500px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding-left: 4rem;
     overflow: hidden;
     color: white;
}

.bg-image{
     position: absolute;
     top: 0; left: 0;
     width: 100%; height: 100%;
     background: url('./store-906722_1920.jpg') no-repeat center center/cover;
     z-index: 0;
     filter: brightness(0.4);
}

.banner-text{
      position: relative;
      z-index:1;
      
}

.banner-text h1{
     font-size: 3.5rem;
     color: Gold;
     text-shadow: 2px 2px 2px 10px rgba(0, 0, 0, 0.3);
     margin-bottom: 0.5rem;
     padding-top: 3rem;
    }
    
.banner-text p{
      font-size: 1.2rem;
      margin: 0.5rem 0 1rem;
      color: whitesmoke;
      font-style: italic;
}
    
.banner-btn{
      background-color:#FFFF00;
      color: Black;
      padding: 0.5rem 1.5rem;
      text-decoration: none;
      border-radius: 8px;
      font-weight: bold;
}

.product-section{
    padding: 3rem 2 rem;
}

.section-title{
   text-align: center;
   font-size: 2rem;
   margin-bottom: 2rem;
   margin-top: 2rem;
}

.product-grid{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
} 

.product-card{
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.product-card img{
    width: 100%;
    border-radius: 8px;
}

.product-card h3{
    margin: 0.8rem 0.4rem;
}

.product-card p{
    color: #888;
    margin-bottom: 1rem;
}

.product-card button{
    background-color: gold;
    border: none;
    padding: 0.6rem 1rem;
    color:#111;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
     background-color: red;
     color:#fff;
     padding: 2rem;
     text-align: center;
}

.footer .socials a{
     color: gold;
     margin: 0 0.5rem;
     text-decoration: none;
}